
    *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

	.mainclass{
		width: 100%;
		margin: 70px auto auto;
	}

  	.profile1{
  		width: 300px;
  		height: auto;
  	}

  	.listmain ul li button{
		  width: 80%;
		  margin: 25px auto;
  		  border-radius:333px;
  	}

  	.listmain ul li button:hover {
  		background-image: linear-gradient(to right, #10cf36, #aea700, #ef6b00, #ff0b5c, #cf1cad);
  	}

  	.icons ul li a i{
  		margin: 40px 20px;
  	}